@use '../abstracts'as *;

.about {
    padding-top: 12rem;
    padding-bottom: 6rem;

    &__container {
        display: grid;
        gap: 8rem;
    }

    &__information-title {
        margin-bottom: 2rem;
    }

    &__information-description {
        &:first-of-type {
            margin-bottom: 1.5rem;
        }

        &:last-of-type {
            margin-bottom: 4rem;
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-inline: auto;
    }

    &__images-image {
        position: relative;
        transition: 300ms ease-in-out transform;

        &--top {
            grid-column: 4 / -1;
            grid-row: 1/span 4;

            &:hover{
                transform: rotate(2deg);
                box-shadow: 1rem 2rem 3rem rgb(0 0 0 / 15%);
            }
        }

        &--bottom {
            grid-column: 1 / 7;
            grid-row: 3/span 5;
            z-index: 5;

            &:hover{
                transform: rotate(-2deg);
                box-shadow: 1rem 2rem 3rem rgb(0 0 0 / 15%);
            }
        }
    }

    @include breakpoint(medium) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            column-gap: 2.5rem;
        }
    }
}